# Maven
target/
pom.xml.versionsBackup
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Логи и локальные данные
*.log
logs/
data/
docker/**/data/

# Секреты и сертификаты (генерируются локально, в git не кладём!)
docker/secrets/*
!docker/secrets/.gitkeep
10-security/certs/*
!10-security/certs/.gitkeep
*.jks
*.p12
*.key
*.crt
*.pem
*.csr
.env.local

# Скачиваемые артефакты
docker/jmx-exporter/*.jar
docker/connect/plugins/*
!docker/connect/plugins/.gitkeep
